[core]
	editor = nvim
[user]
	name = Nicholas Farley
	email = nicholasafarley@gmail.com
[rerere]
	enabled = true
[diff]
  external = difft  --ignore-comments
[pull]
	rebase = true
[init]
	defaultBranch = main
