[core]
	editor = nvim
[user]
	name = Nicholas Farley
	email = nicholasafarley@gmail.com
[rerere]
	enabled = true
[diff]
	indentHeuristic = on
	algorithm = histogram
	colorMoved = default
[pull]
	rebase = true
[merge]
	conflictStyle = diff3
