nvim/plugged
nvim/autoload
vim/autoload/plug.vim.old
vim/init.vim
vim/spell

#### joe made this: https://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

fish/conf.d
fish/fishd.*
fish/completions
fish/functions/fisher.fish

fish/functions/__z.fish
fish/functions/__z_add.fish
fish/functions/__z_clean.fish
fish/functions/__z_complete.fish
fish/functions/fish_greeting.fish
fish/functions/fish_mode_prompt.fish
fish/functions/fish_prompt.fish
fish/functions/fish_right_prompt.fish
fish/functions/fish_title.fish
fish/functions/z.awk
fish/functions/zadd.awk
fish/functions/zclean.awk
