neovim/.config/nvim/plugged
fish/.config/fish/completions/*
fish/.config/fish/conf.d/*
fish/.config/fish/fish_variables
fish/.config/fish/functions/*
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/kitty.conf.bak
