nvim/plugged
nvim/autoload
vim/autoload/plug.vim.old
vim/init.vim
vim/spell

#### joe made this: https://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

fish/conf.d
fish/fishd.*
fish/completions
fish/functions/*
