snippet boiler
	/*
	 * @author Nicholas Farley
	 * @class comp132
	 * @section 001rl
	 *
	 */

	#include <iostream>
	#include <cstdlib>

	using namespace std;

	int main (int argc, char *argv[]) {
		${0}
		return EXIT_SUCCESS;
	}


